.DSMeta-redButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    cursor: pointer;
}

.DSMeta-redButton img {
    width: 19px;

}